@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --primary: #14b8a6;
    --secondary: #2dd4bf;
    --gray: #d5d5d5;
    --white: #ffffff;
    --black: #000000;
}

.background-primary {
    background-color: var(--primary);
}

.background-secondary {
    background-color: var(--secondary);
}

.background-third {
    background-color: #e6fefb;
}

.background-sso {
    background: linear-gradient(to bottom, #ed1c24, #dc161c);
}

.background-gradient {
    background: linear-gradient(to bottom, #2dd4bf, #14b8a6);
}

.grayscale {
    filter: grayscale(100%);
}

.color-primary {
    color: var(--primary);
}

.color-gray {
    color: var(--gray);
}

.font-32 {
    font-size: 32px;
}

.font-24 {
    font-size: 24px;
}

.font-20 {
    font-size: 20px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.font-10 {
    font-size: 10px;
}

.font-8 {
    font-size: 8px;
}

.font-primary {
    color: var(--primary);
}

.font-black {
    color: var(--black);
}

body {
    font-family: "Figtree", sans-serif !important;
    height: auto;
}

/* AUTHENTICATION */
.navbar-auth {
    height: 92px;
    border-radius: 0 0 20px 20px;
}

form button {
    border: 2px;
}

form .button-register {
    border: 2px solid;
    border-color: var(--primary);
    background-color: var(--white);
    color: var(--primary);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px !important;
}

form .button-login {
    border: 2px solid;
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px !important;
}

form .button-login-sso {
    border: 2px solid;
    color: var(--white);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px !important;
}

form .button-sso {
    border: 2px solid;
    border-color: #ed1c24;
    background-color: var(--white);
    color: #ed1c24;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px !important;
}

/* HERO SECTION */
.hero-main {
    height: 100px;
    display: flex;
    border-radius: 0 0 50px 50px;
}

/* MAIN CONTENT */
.main {
    max-width: 350px;
    padding-top: 10px;
}

/* MEMBER CARD SECTION */
.card-nama {
    margin-bottom: 40px;
}

/* FILTER SECTION */
.filter {
    padding: 10px 20px;
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--primary);
    color: var(--primary);
}

.filter-active {
    background-color: var(--primary) !important;
    color: var(--white);
}

/* CARDS SECTION */

.card-items {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 170px;
    border-radius: 5px;
    margin: 5px 0;
}

.card-items img {
    border-radius: 5px 5px 0 0;
}

.card-items .card-container {
    padding: 5px 8px;
    text-align: left;
}

/* REWARD DETAIL */
.reward-detail .poin-detail {
    width: 90px;
    border: 1px solid;
    border-color: var(--secondary);
}

.reward-detail .button-tukar {
    height: 40px;
    background-image: linear-gradient(var(--secondary), var(--primary));
    border-radius: 10px;
}

/* SUCCES PAGE */
.purchased-success svg {
    color: #72ba25;
    transition: color 1s ease;
}

.purchased-success svg:hover {
    color: #ddf8a8;
}

/* Modal */
.bottom-drawer {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: initial;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease-in-out;
    z-index: 1050;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 48px);
}

.drawer-header,
.drawer-footer {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.drawer-body {
    padding: 0 1rem;
    overflow: hidden auto;
    scrollbar-width: none;
    flex-grow: 1;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#decreaseQty,
#increaseQty {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 0;
}

.qty-controls {
    display: flex;
    align-items: center;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    padding: 1rem;
}

.divider {
    border-width: 1px 8px 8px;
    border-style: solid;
    border-color: rgb(232, 232, 232) rgb(187, 187, 187) rgb(187, 187, 187);
    border-image: none;
    margin: 0px;
}

.textarea-wrapper {
    position: relative;
}

.textarea-wrapper i {
    position: absolute;
    top: 10px;
    left: 14px;
    color: gray;
    font-size: larger;
}

textarea.notes {
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    resize: none;
    overflow: hidden;
    padding: 10px 15px;
    padding-left: 48px;
}
